<article *ngIf="isMovie; else bookTemplate">
  <a [routerLink]="['/movie', movieTitle]">
    <img (error)="setDefaultPoster($event)" [src]="moviePoster" alt="Poster do filme">
    <div>
    <div
      *ngIf="tecaNota !== null && tecaNota !== undefined"
      class="nota-teca"
      [ngClass]="{'low-score': +tecaNota <= 5}">
      <span>Teca</span>
      <strong>{{ tecaNota }}</strong>
    </div>
      <div class="info">
        <h3>{{ movieTitle }}</h3>
        <p class="rating-line">
          <svg class="rating-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path fill="currentColor" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327l4.898.696c.441.062.612.636.282.95l-3.522 3.356l.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg>

          <span>{{ movieimdbRating }}</span>
        </p>
        <p>{{ movieYear }}</p>
      </div>
    </div>
  </a>
</article>

<ng-template #bookTemplate>
  <div class="tooltip">
  <article *ngIf="isBook; else gameTemplate">
        <img (error)="setDefaultPoster($event)" [src]="bookImageUrl" alt="Capa do livro">
        <div>
          <div
            *ngIf="tecaNota !== null && tecaNota !== undefined"
            class="nota-teca"
            [ngClass]="{'low-score': +tecaNota <= 5}">
            <span>Teca</span>
            <strong>{{ tecaNota }}</strong>
          </div>
          <div class="info">
            <h3>{{ bookTitle }}</h3>
            <p>Autor: {{ bookAuthor }}</p>
            <p>Gênero: {{ bookGenre }}</p>
            <p>Ano: {{ bookYear }}</p>
            <p>Páginas: {{ bookPageCount }}</p>
          </div>
        </div>
      <span class="tooltiptext">{{ bookSynopsis }}</span>
    </article>
  </div>
</ng-template>


<ng-template #gameTemplate>
  <article *ngIf="isGame">
      <img (error)="setDefaultPoster($event)" [src]="gameImageUrl" alt="Capa do jogo">
      <div>
        <div
          *ngIf="tecaNota !== null && tecaNota !== undefined"
          class="nota-teca flex">
          <p>Top 3</p>
          <h4>{{ tecaNota }} place</h4>
        </div>
        <div class="info">
          <h3>{{ gameTitle }}</h3>
          <p><span class="highlight">Developer: </span>{{ gameDeveloper }}</p>
          <p><span class="highlight">Genre: </span>{{ gameGenre }}</p>
          <p><span class="highlight">Release Year:</span> {{ gameYear }}</p>
          <p *ngIf="gameAwards && gameAwards.length > 0">
            <span class="highlight">Awards: </span>{{ gameAwards.join(', ') }}
          </p>
        </div>
      </div>
  </article>
</ng-template>
