img, img:after {
  width: 150px;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: all 0.3s;
}

article {
  margin: 20px auto;
  text-align: center;
  position: relative;
  max-width: 200px;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  border-radius: 10px;
}

article:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid #c48d33;
  background: rgba(139, 69, 19, 0.3);
}

article:hover img {
  transform: scale(1.06);
  padding-bottom: 5px;
}

article h3, article p {
  transition: color 0.3s ease;
}

article:hover h3 {
  color: var(--gold);
}

h3,
p {
  text-transform: capitalize;
  font-size: 0.9rem;
}

p {
  font-size: 0.8rem;
  margin-top: 5px;
}

.info {
  padding-bottom: 10px;
}

.info h3 {
  margin: 0 3px;
}

.nota-teca {
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -5%;
  background-color: #c48d33;
  color: black;
  padding: 8px;
  border-radius: 10px;
  font-size: 0.8rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.63);
}

.low-score {
  background: rgb(145, 32, 32);
  color: rgb(197, 197, 197);
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 53%;
  left: 67%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.highlight {
  color: gray;
}

article:hover .highlight {
  color: var(--gold);
}
