<app-banner movieTitle="Knock at the Cabin" movieBgPoster="https://www.themoviedb.org/t/p/original/zWDMQX0sPaW2u0N2pJaYA8bVVaJ.jpg"></app-banner>

<section *ngFor="let category of categories" class="container">
  <div class="titles">
    <div>
      <span class="section-label">CURATED COLLECTION</span>
      <h2>{{ category.title }}</h2>
    </div>

    <a class="show-more" [routerLink]="['/thebest', category.title]">
      Explore →
    </a>
  </div>
 <div class="grid carousel">
   <app-card *ngFor="let movie of category.movies.slice(0, 7)" [movieTitle]="movie.Title"></app-card>
 </div>
</section>

