<section
  *ngIf="!IsBooksSectionBanner; else bookTemplate"
  [ngClass]="{'main-banner': isMainBanner, 'banner': true}"
  [style.background]="movieBgPoster"
  [style]="backgroundStyle">

  <div *ngIf="movieTitle != ''"
    class="container flex">
    <h1>{{movieTitle}}</h1>
    <p>{{moviePlot}}</p>
    <ul class="flex">
      <li class="rating">★ {{movieimdbRating}}</li>
      <li>{{movieRuntime | tempoDeFilme }}</li>
      <li>{{movieYear}}</li>
    </ul>
    <button [routerLink]="['/movie', movieTitle]">See more</button>
  </div>
</section>

<ng-template #bookTemplate>
  <section
    class="banner book-banner"
    [style.background]="movieBgPoster"
    [style]="backgroundStyle">

    <div class="container flex book-content">
      <h1>Explore The Library</h1>
      <p>
        A curated collection of books, sci-fi worlds, unforgettable stories
        and everything worth recommending.
      </p>
      <button [routerLink]="['/books']">See more</button>
    </div>
  </section>
</ng-template>
