<app-banner movieTitle="Project Hail Mary" [isMainBanner]="true" movieBgPoster="../../../assets/banner/hailmary.jpeg"></app-banner>
<!-- <app-banner movieTitle="flow" [isMainBanner]="true" movieBgPoster="../../../assets/banner/flow-wallpapper.jpg"></app-banner> -->
<!-- movieBgPoster="../../../assets/banner/calls-wallpapper.jpg"></app-banner> -->
<!-- movieBgPoster="../../../assets/banner/calls_wallpapper"></app-banner> -->
<!-- <app-banner movieTitle="dandadan" [isMainBanner]="true" movieBgPoster="../../../assets/banner/dandadan.jpg"></app-banner> -->
<!-- <app-banner movieTitle="Interstellar" movieBgPoster="https://images.alphacoders.com/616/616438.jpg"></app-banner> -->

<section class="categories">
  <div class="category-scroll">
    <button
      *ngFor="let category of categories"
      [routerLink]="['/thebest', category.title]">
      {{ category.title }}
    </button>
  </div>
</section>

<!-- <app-best-characters></app-best-characters> -->

<section class="container curated-section">
  <div class="flex titles section-header">
    <div>
      <span class="section-eyebrow">Latest curations</span>
      <h2>Hot Picks</h2>
    </div>

    <a class="show-more" [routerLink]="['/lastedreleases']">
      View all
    </a>
  </div>

  <div class="grid carousel curated-carousel">
    <app-card
      *ngFor="let movie of latestReleases.slice(0, 7)"
      [movieTitle]="movie.Title"
      [tecaNota]="movie.tecaNota">
    </app-card>
  </div>
</section>

<section *ngFor="let category of categories.slice(0, 1)" class="container curated-section">
  <div class="section-header">
    <div>
      <span class="section-eyebrow">The best of</span>
      <h2>{{ category.title }}</h2>
    </div>

    <a class="show-more" [routerLink]="['/thebest', category.title]">
      Show more <span>+</span>
    </a>
  </div>

  <div class="grid carousel curated-carousel">
    <app-card
      *ngFor="let movie of category.movies.slice(0, 7)"
      [movieTitle]="movie.Title"
      [tecaNota]="movie.tecaNota">
    </app-card>
  </div>
</section>

<!-- <app-banner movieTitle="Bulgasal" movieBgPoster="https://artworks.thetvdb.com/banners/v4/series/398825/backgrounds/61c7663f939b9.jpg"></app-banner> -->

<app-highlight [highlightTitles]="highlightTitles3"></app-highlight>
<app-highlight [highlightTitles]="highlightTitles1"></app-highlight>
<app-highlight [highlightTitles]="highlightTitles2"></app-highlight>

<!-- <app-banner movieTitle="BooksSection" movieBgPoster="https://wallpapers.com/images/hd/dr-zira-planet-of-the-apes-15e2nnxh6pdsg9yt.jpg"></app-banner> -->
<app-banner movieTitle="BooksSection" movieBgPoster="../../../assets/banner/3body.jpg"></app-banner>
  <!-- <app-banner movieTitle="Godzilla Minus One" movieBgPoster="../../../assets/banner/gojira.jpg"></app-banner> -->
<!-- <app-banner movieTitle="Color Out of Space" movieBgPoster="https://image.tmdb.org/t/p/original/vj2gCvD5vZDJ865izTU0J0wJBVc.jpg"></app-banner> -->

<app-banner-button></app-banner-button>
